---
import "../../global.css";

import Banner from "../../components/Banner.astro";
import ContentSection from "../../components/ContentSection.astro";
import Header from "../../components/Header.astro";
import Annotation from "../../components/Annotation.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Divider from "../../components/Divider.astro";
import MagicArrow from "../../icons/magic-arrow.svg";

const autoPayScreenshotAnnotationss = [
  "Specify the exact amount users will get, allowing dropped off users adjust the loan amount later",
  "A note to clarify that users must use a single account for loan disbursal and repayments",
  "Clearly explain that auto-pay is required for EMI payments, including the EMI date and account",
  "We recommend using debit card details option as it has higher success rate",
];

const checkoutScreenshotAnnotationss = [
  "Clearly state that the loan amount will be credited after confirming details to reduce user anxiety",
  "Allow dropped-off users to adjust the loan amount at the final step for added flexibility",
  "We Highlight only key details upfront, with an info icon for users to view full calculations for transparency",
  "We show the first EMI date, which may change based on whether users complete the process in one go or return later",
  "Emphasize the account for loan disbursal on the checkout screen as it’s crucial for users",
];

const simplifyingRepaymentAnnotations = [
  "In the new design, upcoming EMI details are prominently displayed at the top of the Loans tab, including the due amount, EMI schedule, and auto-debit account. To reduce user anxiety, we added clear, reassuring copy that states the EMI will be auto-debited on a specific date",
  "Users can now easily track their loan status. Key information like the amount paid, remaining balance, number of EMIs paid vs left, and the last EMI date is displayed",
  "Consolidated all repayment options like Advance EMI, Foreclosure & Part-prepayment in one location, allowing users to choose how they want to repay",
  "Showing only essential details like payable amount",
];

const simplifyingLoanSelectionAnnotations = [
  "The previous design had too many variations in font sizes and weights, making it visually cluttered.  In the new design, we used with clear size differences to make it easier to scan",
  "We made the loan limit bold and prominent to draw users’ attention to the most relevant information. Other details are grouped in a clean, organised manner to help users quickly compare options",
  "To guide users clearly to the next step, we changed the main heading to ‘Select the loan you want’",
  "We moved to a muted, cohesive colour palette to make our app feel more professional and trustworthy",
];

const disbursalJourneyScreenshots = 18;
---

<BaseLayout title="Crafting Financial Journeys">
  <Header />

  <main class="max-w-desktop-content mx-auto space-y-16">
    <div class="mb-4">
      <h2 class="blog-title mb-2 mt-20">Crafting Financial Journeys</h2>
      <div class="flex flex-row">
        <p class="text-base leading-7 text-black100 font-light">
          Jupiter • 2023-24 • App Redesign
        </p>
      </div>
    </div>

    <ContentSection title="Background">
      <p class="section-content">
        Jupiter is a digital banking app that helps users manage their finances.
        It offers savings accounts, UPI payments, loans, credit cards, a spends
        tracker, and various investment products - all in one place.
        <br /><br />
        As we introduced more products and features, the UI started to feel cluttered,
        leading to inconsistencies across the app. The experience became confusing,
        information wasn’t structured clearly, and we struggled to build the trust
        we wanted with our users. It became evident that a redesign was necessary.
        <br /><br />
        For users to trust us with their money, every screen had to feel personal
        and intuitive. We needed to remove the anxiety and fear that came with taking
        the next step, especially in journeys like taking a loan. We created new
        design principles to craft screens, numbers, and interactions in a way that
        will make users feel confident in their decisions.
        <br /><br />
        I worked with product, business, data and risk teams to truly understand
        loans users - their age, income groups, credit profiles, loan purposes, when
        they typically used the app, and their aspirations as well as discomforts.
        These insights into users' minds helped me design journeys that genuinely
        supported them at every step of taking a loan.
      </p>
    </ContentSection>

    <ContentSection title="My Role">
      <p class="section-content">
        I led the complete redesign of loans experience, covering both pre &
        post-disbursement journeys. I worked with product leadership to shape
        journeys focused on clarity, transparency, and building trust.
      </p>

      <p class="mb-3 font-semibold text-lg leading-8 mt-5">
        The redesign covered:
      </p>

      <ul class="list-disc list-inside section-content space-y-2">
        <li>
          Onboarding & Discovery - Discovery on app home, loans tab redesign,
          loans identities
        </li>
        <li>
          Loan application - Eligibility check, amount and tenure selection,
          video-KYC verification, bank account and auto-pay setup, journeys for
          dropped-off & repeat users
        </li>
        <li>Checkout - Final review and disbursement</li>
        <li>
          Post-disbursal Experience - Active loan management, repayment flows
        </li>
        <li>
          Enhancements & features - Account aggregation, loan limit upgrades,
          offers on interest rates and processing fees, EMI insurance
        </li>
      </ul>
    </ContentSection>

    <div class="pr-28 mt-4">
      <Banner
        title="Impact"
        body="We achieved a 24.8% increase in conversions for new users and a 27% boost for repeat users"
      />
    </div>
  </main>

  <div class="mt-20 py-16 bg-almondMilk60">
    <div class="max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="Simplifying loan selection">
        <p class="section-content">
          The previous loans tab was cluttered with too many actions, leaving
          users confused. We asked ourselves, 'What’s the key task we want users
          to accomplish?'— selecting the right loan option.
        </p>

        <img
          src="/public/crafting-financial-journeys/simplifying-loan-selection.png"
          class="h-screenshot mx-auto mt-16"
        />

        <div class="pt-16 pb-16 mx-auto space-y-8">
          {
            simplifyingLoanSelectionAnnotations.map((note, index) => (
              <Annotation index={index + 1} content={note} />
            ))
          }
        </div>
      </ContentSection>

      <ContentSection title="Using animations for clarity">
        <p class="section-content">
          In the previous design, the amount selection screen was static, with
          the slider set to the maximum by default. This confused some users who
          didn’t realise it was interactive.
          <br /><br />
          In the new design, we auto-animate the slider from the lowest to highest
          amount to provide visual cues and improve the landing experience. EMI and
          tenure options now load dynamically based on the selected amount.
        </p>

        <video
          src="/videos/using-animations-for-clarity.mov"
          class="h-screenshot-md mx-auto mt-16 mb-6 rounded-2xl shadow-screenshot"
          autoplay
          loop></video>
      </ContentSection>
    </div>
  </div>

  <div class="bg-almondMil40">
    <div class="pt-16 max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="Setting up auto-pay">
        <p class="section-content">
          Users need to add a bank account and set up auto-pay before receiving
          their loan amount. This can cause anxiety if accurate information
          isn’t provided. We addressed this by making key copy changes and
          adding helpful notes.
        </p>
      </ContentSection>
    </div>

    <img
      src="/crafting-financial-journeys/setting-up-auto-pay.png"
      class="mx-auto h-[586px] aspect-[1.7]"
    />

    <div class="pb-16 pt-8 max-w-desktop-content mx-auto space-y-8">
      {
        autoPayScreenshotAnnotationss.map((content, index) => (
          <Annotation index={index + 1} content={content} />
        ))
      }
    </div>
  </div>

  <div class="bg-almondMilk60">
    <div class="pt-16 max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="Checkout">
        <p class="section-content">
          After setting up auto-pay, the loan amount was instantly credited to
          users' accounts, often without them realising it. Users didn’t have a
          chance to review the details before disbursement. This led to 30%
          users foreclosing loans within first 3 days.
          <br /><br />
          To address this, we added a checkout screen for users to confirm details
          before loan disbursement
        </p>
      </ContentSection>
    </div>

    <img
      src="/crafting-financial-journeys/checkout.png"
      class="mx-auto h-[586px] aspect-[0.75] pt-8"
    />

    <div class="pt-8 pb-16 max-w-desktop-content mx-auto space-y-8">
      {
        checkoutScreenshotAnnotationss.map((content, index) => (
          <Annotation index={index + 1} content={content} />
        ))
      }
    </div>

    <div class="py-16 bg-white">
      <div class="max-w-desktop-content mx-auto space-y-16">
        <h3 class="text-2xl font-bold mb-2">The Disbursal Journey</h3>
      </div>

      <div
        class="flex flex-row space-x-11 overflow-x-scroll px-[72px] mt-16 no-scrollbar"
      >
        {
          Array(disbursalJourneyScreenshots)
            .fill(0)
            .map((_, index) => (
              <img
                src={`/crafting-financial-journeys/disbursal-journey/${index + 1}.png`}
                class={`h-[456px] aspect-[0.46] flex-shrink-0`}
              />
            ))
        }
      </div>
    </div>

    <div class="py-16 max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="Simplifying Repayments">
        <p class="section-content">
          Our earlier repayment flows had confusing information, leading to the
          highest number of CS tickets. Users felt anxious about their EMI
          payments because they couldn’t clearly understand the exact amount
          due, payment dates, auto-debit timelines, or which account the money
          would be debited from.
          <br /><br />
          Additionally, users couldn’t access their EMI schedules or track repayments.
          Based on this feedback, we decided to redesign repayment journey
        </p>
      </ContentSection>
    </div>

    <div class="max-w-desktop-content-wide mx-auto">
      <img
        src="/crafting-financial-journeys/simplifying-repayments.png"
        class="mx-auto h-[620px] aspect-[1.4]"
      />
    </div>

    <div class="py-16 max-w-desktop-content mx-auto space-y-8">
      {
        simplifyingRepaymentAnnotations.map((content, index) => (
          <Annotation index={index + 1} content={content} />
        ))
      }
    </div>

    <div class="max-w-desktop-content mx-auto space-y-6 pt-16 pb-40">
      <Divider />

      <a
        href="https://medium.com/@poooja.metkar/designing-for-lending-bfb811359ecf"
        class="mx-auto flex space-x-5 justify-center w-full"
        target="_blank"
      >
        <p>Know more about designing for lending</p>
        <img src={MagicArrow.src} />
      </a>

      <Divider />
    </div>
  </div>
</BaseLayout>
