---
import "../../global.css";

import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentSection from "../../components/ContentSection.astro";
import Banner from "../../components/Banner.astro";

import BlueStar from "../../icons/blue-star.svg";
import Annotation from "../../components/Annotation.astro";
import Divider from "../../components/Divider.astro";

const usabilityTestingListItems = [
  "Students found the new study tab easy to use, scrolled through the page quite quickly and started summarising the feedback on their own",
  "For live class, the most important information sought were the topics covered",
  "Students wanted an option to set reminder for upcoming classes and tests",
  "The option to switch batches and de-enrol was quite welcomed as it allowed them to get things done without the help of SAM",
  "Students found the chapter-wise clustering of information much easier to understand and helpful",
];

const studyRedesignAnnotations = [
  "The live class card features the teacher's photo as the hero image. When students spot their favorite teacher’s photo, it acts as a subtle nudge, making them more likely to join the class without overthinking",
  "Displaying a live timer helps students join on time and enhances the real-time feel of the live class card",
  "Auto-scrolling topics in the bottom strip further enhance the live experience",
  "Next, we show upcoming classes which helps students plan their time effectively and prepare for sessions if required",
];

const myCoursesAnnotations = [
  'The "My Courses" section highlights the primary courses in a subscription, helping students stay on track with key courses',
  "The course card displays recent classes, allowing students to join live sessions or watch missed  class replays",
  "Students can also attempt new assignments directly from here",
  "Course details are accessible from the card, making progress tracking easier",
];

const courseDetails = [
  {
    image: "/designing-everyday-learning/course-details/overview.png",
    caption: "Course Overview: all chapters neatly organised",
  },
  {
    image: "/designing-everyday-learning/course-details/current-progress.png",
    caption: "Ongoing Chapter: Check current chapter’s progress",
  },
  {
    image: "/designing-everyday-learning/course-details/upcoming-chapters.png",
    caption: "Upcoming Chapters: View topics in advance or set reminders",
  },
  {
    image: "/designing-everyday-learning/course-details/assignments.png",
    caption: "Assignment Status: Track assignments for each chapter",
  },
  {
    image: "/designing-everyday-learning/course-details/tests.png",
    caption: "Tests: Find all course-related tests in one place",
  },
  {
    image: "/designing-everyday-learning/course-details/batch-details.png",
    caption: "Batch Details: Students can Switch to a suitable batch",
  },
];
---

<BaseLayout title="Designing for Everyday Learning">
  <Header />

  <main class="max-w-desktop-content mx-auto space-y-16 pb-16">
    <h2 class="mb-4 mt-20 blog-title">Designing for<br />Everyday Learning</h2>

    <ContentSection title="Background">
      <p class="section-content">
        Vedantu is an online learning platform that offers interactive classes
        for students from grades 1–12, with features like live classes, recorded
        content, tests, assignments, and quizzes. As part of the Learning
        Experience team, I worked on improving students’ daily experience on the
        app
      </p>
    </ContentSection>

    <ContentSection title="The Problem">
      <div class="space-y-4">
        <p class="section-content">
          The Study Tab, which students see right after logging in, helps them
          access their daily classes, assignments, tests, and other resources.
          However, the existing design made it challenging for students to
          manage their courses and stay on track due to the following issues:
        </p>

        <ul class="list-disc list-inside section-content space-y-2">
          <li class="section-content">
            Poor discoverability of class schedules, syllabus progress, recent
            assignments
          </li>
          <li>
            Learning materials weren’t aligned with specific chapters or topics,
            making it difficult for students to engage
          </li>
          <li>
            Information on additional courses or other paid features was not
            easily available
          </li>
        </ul>

        <p class="section-content">
          To address these, we decided to redesign the Study Tab and Course
          Details pages to create a more intuitive, organised experience.
        </p>
      </div>
    </ContentSection>

    <ContentSection title="My Role">
      <p class="section-content">
        I led the complete redesign of the Study tab and course details from
        conceptualisation to building information architecture, designing
        wireframes and final UI.
      </p>
    </ContentSection>

    <div class="pr-28">
      <Banner
        title="Impact"
        body="We observed a 40% increase in live class adoption, and participation in monthly tests across all subjects increased by 13%"
      />
    </div>
  </main>

  <div id="vedantu-highlight-section" class="py-16">
    <div class="max-w-desktop-content mx-auto">
      <ContentSection title="Study Tab Redesign">
        <p class="section-content mb-16">
          We emphasized live classes by placing them at the top of the
          screen.The live class card appears 10 minutes before the class starts.
          Topics auto-scroll at the bottom of the card adding to the live feel
          and help students decide whether to attend the class
        </p>

        <div class="w-full flex flex-row justify-between space-x-9">
          <video
            src="/videos/study-tab-redesign.mp4"
            class="rounded-2xl h-[531px] shadow-screenshot mt-[8px]"
            autoplay
            loop></video>
          <img
            src="/designing-everyday-learning/study-tab-redesign/landing.png"
            class="flex-1 w-[320px]"
          />
          <img
            src="/designing-everyday-learning/study-tab-redesign/upcoming-class-topics.png"
            class="w-screenshot-md"
          />
        </div>

        <div class="pt-12 space-y-8">
          {
            studyRedesignAnnotations.map((content, index) => (
              <Annotation index={index + 1} content={content} />
            ))
          }
        </div>
      </ContentSection>

      <div class="my-16"><Divider /></div>

      <ContentSection title="Keep Up with Your Courses">
        <p class="section-content">
          Vedantu's subscription offers a variety of learning options, including
          year-long programs, chapter-focused short courses, and crash courses.
          However, students often enroll in multiple courses but engage with
          only a few. To address this, we redesigned the course cards to help
          students stay organized and track their progress in each course
          effectively
        </p>

        <img
          src="/designing-everyday-learning/my-courses.png"
          class="w-[384px] mx-auto mt-16"
        />

        <div class="pt-12 space-y-8">
          {
            myCoursesAnnotations.map((content, index) => (
              <Annotation index={index + 1} content={content} />
            ))
          }
        </div>
      </ContentSection>

      <div class="my-16"><Divider /></div>

      <ContentSection title="Course details" addPaddingRight={false}>
        <p class="section-content">
          In textbooks, the syllabus is usually divided into chapters and
          subtopics. We applied a similar structure in the course details, as
          students are familiar with this.
          <br /><br />
          With the new design, students can now see which chapters are in progress,
          the number of classes they’ve attended / missed, and assignment completion
          status. They can also view topics covered in each class, which helps them
          focus on weak areas and watch only relevant replays when revising or preparing
          for tests.
        </p>

        <div class="grid grid-cols-3 gap-y-16 py-16">
          {
            courseDetails.map((course) => (
              <div class="w-screenshot ">
                <img
                  src={course.image}
                  class="w-screenshot rounded-2xl shadow-screenshot"
                />
                <p class="caption2 pt-6 uppercase text-black80">
                  {course.caption}
                </p>
              </div>
            ))
          }
        </div>
      </ContentSection>
    </div>
  </div>

  <div class="max-w-desktop-content mx-auto mt-20 mb-32">
    <ContentSection title="Usability Testing">
      <p class="section-content mb-6">
        We conducted 1-on-1 sessions with 10 students to observe how they
        interact with the prototype. Key findings:
      </p>

      <div class="space-y-4">
        {
          usabilityTestingListItems.map((item) => (
            <div class="flex flow-row justify-start items-center">
              <img src={BlueStar.src} />
              <p class="ml-2 text-black30 section-content">{item}</p>
            </div>
          ))
        }
      </div>
    </ContentSection>
  </div>
</BaseLayout>
