---
import "../global.css";

import Divider from "../components/Divider.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const illustrationsWithEverydayObjects = [
  "/play/illustrations-with-everyday-objects/chakri-bike.png",
  "/play/illustrations-with-everyday-objects/the-kitkat-bag.png",
  "/play/illustrations-with-everyday-objects/shroomy-ratatouille.png",
  "/play/illustrations-with-everyday-objects/miss-egguin.png",
  "/play/illustrations-with-everyday-objects/so-green.png",
  "/play/illustrations-with-everyday-objects/mr-figgy.png",
  "/play/illustrations-with-everyday-objects/mac-arons.png",
  "/play/illustrations-with-everyday-objects/orange-skirt-literally.png",
  "/play/illustrations-with-everyday-objects/grapaloons.png",
  "/play/illustrations-with-everyday-objects/kiwi-tabla.png",
  "/play/illustrations-with-everyday-objects/choco-mario.png",
];

const illustrationSize = 384;
const illustrationsGap = 24;

const illustrationsWidth =
  illustrationsWithEverydayObjects.length * illustrationSize +
  2 * illustrationsGap +
  (illustrationsWithEverydayObjects.length - 1) * illustrationsGap;

const sketchAndBreakfastSundayPictures = [
  "/play/sketch-and-breakfast-sundays/all-smiles.png",
  "/play/sketch-and-breakfast-sundays/all-stories.png",
  "/play/sketch-and-breakfast-sundays/thats-me.png",
  "/play/sketch-and-breakfast-sundays/thats-my-friends.png",
  "/play/sketch-and-breakfast-sundays/the-table.png",
  "/play/sketch-and-breakfast-sundays/we-love-kids.png",
];
---

<BaseLayout title="Pooja Metkar | Play">
  <Header currentPage="play" />
  <div class="max-w-desktop-content mx-auto mt-36">
    <h1 class="font-magic text-6xl leading-snug">Creative Pursuits</h1>

    <div class="mt-10 mb-20 w-[76px]">
      <Divider />
    </div>
  </div>

  <main class="space-y-36 pb-60">
    <section>
      <div class="max-w-desktop-content mx-auto">
        <p class="text-lg text-black30">
          <span class="text-black font-semibold">
            Illustrations with everyday objects</span
          > - Art is a playful escape that keeps me curious and inspired. In my free
          time, I create these illustrations that have taken me on unexpected adventures.
          A small selection from the illustrations series:
        </p>
      </div>

      <div class="mt-8 bg-almondMilk20 w-full overflow-hidden">
        <div class="inline-flex animate-[infinite-scroll_50s_linear_infinite]">
          <div
            class="inline-flex space-x-6 py-6 pl-6"
            style={`width: ${illustrationsWidth}px`}
          >
            {
              illustrationsWithEverydayObjects.map((illustration) => (
                <img src={illustration} class="size-96" />
              ))
            }
          </div>
          <div
            class="inline-flex space-x-6 py-6"
            style={`width: ${illustrationsWidth}px`}
          >
            {
              illustrationsWithEverydayObjects.map((illustration) => (
                <img src={illustration} class="size-96" />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="max-w-desktop-content mx-auto">
        <p class="text-lg text-black30">
          <span class="text-black font-semibold">Art Exhibit</span> - In September
          2024, I had the opportunity to showcase my illustrations at DYU Art Gallery
          in Bangalore.
        </p>
      </div>

      <div
        class="mt-8 bg-almondMilk10 flex flex-row justify-between items-stretch space-x-6 p-6"
      >
        <div class="flex-4 bg-black">
          <img src="/play/art-exhibition/the-doggo-loved-it.png" />
        </div>
        <div class="flex-2 bg-white">
          <img src="/play/art-exhibition/friends-loved-it-too.png" />
        </div>
        <div class="flex-4 bg-yellow40">
          <img src="/play/art-exhibition/the-exhibit.png" />
        </div>
      </div>
    </section>

    <section>
      <div class="max-w-desktop-content mx-auto">
        <p class="text-lg text-black30">
          <span class="text-black font-semibold"
            >Sketch and Breakfast Sundays</span
          > - These Sundays are when a group of people come together, put away their
          phones and dive into the simple joys of sketching, coffee and fun conversations.
          When I’m sketching, I feel time slows down and life feels a little lighter.
          That’s why I started this - in pursuit of the simple joys.
        </p>
      </div>

      <div class="mt-8 bg-almondMilk w-full overflow-hidden">
        <div class="inline-flex animate-[infinite-scroll_35s_linear_infinite]">
          <div class="inline-flex space-x-6 py-6 pl-6" style={`width: 2250px`}>
            {
              sketchAndBreakfastSundayPictures.map((illustration) => (
                <img src={illustration} class="h-[420px]" />
              ))
            }
          </div>
          <div class="inline-flex space-x-6 py-6 pl-6" style={`width: 2250px`}>
            {
              sketchAndBreakfastSundayPictures.map((illustration) => (
                <img src={illustration} class="h-[420px]" />
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
